---
layout: home
---

<div class="home">
  <section id="lede-banner">
    <div class="lede-image">

        <section class="lede-content">
            <h1 class="title">Mossy Peasey</h1>
            <h2>A Journalist and a Lover</h2>
        </section>
    </div>
  </section>


  <section class="content">


      <section class="top-bio">
      <div class="container">
        <div class="row">
            <div class="col-sm-2">

                <div class="imgwrap">
                  <img src="//placekitten.com/200/250">
                </div>
            </div>

            <div class="col-sm-8">
              {% include home/bio.html %}

            </div>
            <div class="col-sm-2">
              {% include home/contacts.html %}
            </div>

        </div>
          </div>

      </section> <!-- top-bio -->

              <section class="stories" style="margin-top: 4.0em">

                  <div class="container">
                    {% include home/stories.html %}
                  </div>


<!--  <div class="col-sm-4">
                      {% include home/awards.html %}
                    </div> -->

              </section>








    </div>






  </section>

</div>
