---
layout: home
---

<div class="home">
  <section id="lede-banner">
    <div class="lede-image">

        <section class="lede-content">
            <h1 class="title">Mossy Peasey</h1>
            <h2>A Journalist and a Lover</h2>
        </section>
    </div>
  </section>


  <section class="content">

    <div class="container">
      <section class="top-bio">
        <div class="row">
            <div class="col-sm-2">

                <div class="imgwrap">
                  <img src="//placekitten.com/200/250">
                </div>

                {% include home/contacts.html %}

            </div>
            <div class="col-sm-10">
              {% include home/bio.html %}

              <section class="stories" style="margin-top: 4.0em">
                  <div class="row">
                    <div class="col-sm-8">

                        {% include home/stories.html %}




                    </div>

                    <div class="col-sm-4">
                      {% include home/awards.html %}
                    </div>
                  </div>



              </section>

            </div>
        </div>
      </section> <!-- top-bio -->

  <section class="stuff">
    <div class="row">

    </div>
  </section>





    </div>






  </section>

</div>
