                    <section class="awards">

                      <div class="well">
                      <h4>Awards</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste aperiam ducimus culpa explicabo molestiae. Ducimus nesciunt expedita voluptate quos.
                      </p>

                        <ul class="list awards">
                          <li>
                            <a href="//example.com">Wulitzer Prize 2012</a></li>
                           <li> <a href="//example.com">Grundy County Fair, Best Story, 2008</a></li>
                           <li> <a href="//example.com">Miss Congeniality, 2003</a></li>
                           <li> <a href="//example.com">Participation Award, 2001</a></li>
                        </ul>

                      </div>
                    </section>
