              <section class="bio">
                <div class="">
                  <h3>About Mossy Peasey</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum tempora esse iusto consequatur mollitia ex amet ipsam omnis, <a href="//example.com">ipsa eos! Sapiente, ea</a>! Officia natus quidem tenetur quaerat, fugit vel dolor?</p>
                  <p>Lorem ipsum dolor sit amet, <a href="//example.com">consectetur adipisicing elit</a>. Totam enim asperiores, sed praesentium hic saepe pariatur. Odio placeat recusandae voluptate itaque iusto consequuntur molestias sequi voluptates mollitia, laboriosam quos quam!</p>

                  <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="//example.com">Nemo assumenda inventore cumque</a>, sequi libero error repudiandae earum ducimus nostrum porro repellendus!
                  </p>

              </section> <!-- bio -->
