                      <h2>Stories</h2>

                      <div class="row">

                          <div class="col-sm-6">
                            <article class="story">

                             <a href="//example.com">
                               <div class="imgwrap">
                                 <img src="//placekitten.com/400/200" alt="">
                               </div>
                               <h4 class="title">It's Official: The Kitten That Got Away</h4>
                             </a>
                              <p class="blurb">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo iste incidunt
                              suscipit beatae, mollitia repellat nesciunt in laboriosam</p>
                          </article>
                        </div>


                          <div class="col-sm-6">
                            <article class="story">

                             <a href="//example.com">
                               <div class="imgwrap">
                                 <img src="//placekitten.com/600/300" alt="">
                               </div>
                               <h4 class="title">After a Gunshot, Kittens Ask Why</h4>
                             </a>
                              <p class="blurb">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur fugit nisi alias non perspiciatis, nemo quidem minima eveniet consequatur.</p>
                          </article>
                        </div>

                        <div class="col-sm-6">
                            <article class="story">

                             <a href="//example.com">
                               <div class="imgwrap">
                                 <img src="//placekitten.com/600/300" alt="">
                               </div>
                               <h4 class="title">Comedy, Followed by Tragedy, At Upper West Side Kitten Fight</h4>
                             </a>
                              <p class="blurb">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur fugit nisi alias non perspiciatis, nemo quidem minima eveniet consequatur.</p>
                          </article>
                        </div>


                          <div class="col-sm-6">
                            <article class="story">

                             <a href="//example.com">
                               <div class="imgwrap">
                                 <img src="//placekitten.com/600/300" alt="">
                               </div>
                               <h4 class="title">Putting Kittens to Sleep? There Must Be a Better Way</h4>
                             </a>
                              <p class="blurb">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur fugit nisi alias non perspiciatis, nemo quidem minima eveniet consequatur.</p>
                          </article>
                        </div>
                      </div> <!-- row -->
